.payment-wrapper {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.mt {
  margin-top: 4rem;
}

.mt-15 {
  margin-top: 1.5rem;
}


.mt-20 {
  margin-top: 2rem;
}

.payment-wrapper .payment-card {
  max-width: 55rem;
  width: 100%;
  height: 40rem;
  margin-bottom: 3.1rem;
}

.payment-wrapper .payment-card h4 {
  font-size: 2rem;
  color: rgb(84, 84, 84);
}

.payment-wrapper .payment-card form {
  width: 100%;
}

.form-check-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.form-check-wrapper .form-check {
  width: 60%;
  height: 3.5rem;
}

.form-check-wrapper .form-check:last-child {
  width: 30%;
}

.form-check-wrapper .form-check label img {
  width: auto;
  height: 100%;
}

.form-check-wrapper .form-check label {
  position: relative;
  left: 2rem;
  top: 1rem;
}

.field-group-payment {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.field-group-payment .field-payment input[type=text] {
  width: 100%;
  background: #fafafa;
  border-radius: 8px;
  border: 0;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  color: #6C6C80;
}

.field-group-payment .field-payment {
  width: 65%;
}

.field-group-payment .field-payment:last-child {
  width: 40%;
}

.field-group-payment .field-payment + .field-payment {
  margin-left: 2.4rem;
}

.payment-card form .btn {
  width: 50%;
  text-align: center;
  font-size: 1.6rem;
}

.payment-summary {
  max-width: 70rem;
  width: 100%;
  height: 20rem;
  margin-bottom: 3.1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.payment-summary .payment-detail {
  max-width: 40rem;
  width: 100%;
  background-color: #ffffff;
  padding: 1.5rem;
  margin-top: 3rem;
  box-shadow: 0px 3px 9px 4px rgba(221, 221, 221, 0.69);
}

.payment-summary .payment-detail h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(84, 84, 84);
}

.list-info,
.list-info-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.list-info,
.list-info-total p {
  font-weight: 400;
  color: #707070;
}

.list-info-total {
  position: relative;
  border-top: 1px solid #ededed;
  padding: 2rem 0;
}

.list-info-total p { 
  font-weight: 600;
  color: #000000;
}

.list-info-total span { 
  position: absolute;
  top: 4.5rem;
  left: 24.9rem;
  color: #707070;
  font-size: .76923em;
  font-weight: 400;
}