.sidebar {
  position: relative;
  max-width: 35rem;
  width: 100%;
  height: 59.3rem;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebar.toolbar-open {
  transform: translateX(32%);
}

.sidebar .profile {
  position: relative;
  width: 100%;
  height: 5.5rem;
  background-color: #ffff;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar .profile .icon-profile {
  position: absolute;
  margin-left: 1rem;

  display: block;
}

.sidebar .profile .hello {
  position: absolute;
  left: 6rem;
  bottom: 3rem;
  font-size: 1.1rem;
  color: rgb(84, 84, 84);

  display: block;
}

.sidebar .profile .profile-name {
  position: absolute;
  left: 6rem;
  bottom: 1rem;
  font-size: 1.6rem;
  color: rgb(84, 84, 84);

  display: block;
}

.sidebar .sidebar-options {
  position: relative;
  width: 100%;
  height: 85%;
  margin-top: 2.7rem;
  border-radius: 2px;
  background-color: #ffff;
}

.icon-profile::before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  content: '\f2bd';
  font-weight: 600;
  color: rgb(84, 84, 84);
  font-size: 2.7rem;
  margin-left: 1rem;
}

.icon-suitcase::before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  content: '\f0f2';
  font-weight: 600;
  color: rgb(84, 84, 84);
  font-size: 1.8rem;
  margin-left: 1rem;
}

.icon-user-settings::before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  content: '\f4fe';
  font-weight: 600;
  color: rgb(84, 84, 84);
  font-size: 1.8rem;
  margin-left: 1rem;
}

.icon-user-logout::before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  content: '\f011';
  font-weight: 600;
  color: rgb(84, 84, 84);
  font-size: 1.8rem;
  margin-left: 1rem;
}

.icon-arrow::before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  content: '\f105';
  font-weight: 600;
  color: rgb(84, 84, 84);
  font-size: 1.8rem;
}

.sidebar-options .sidebar-options-item {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.6rem;
  transition: all .5s;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-options .sidebar-options-item p {
  color: rgb(84, 84, 84);
}

.option-left-icon {
  width: 20%;
}
.option-title-center {
  width: 65%;
}
.option-right-icon {
  width: 15%;
}

.option-effect:hover {
  background: #f5faff;
  transition: all .5s;
}

/*Media query*/
@media only screen and (max-width:992px) { 
   
  .sidebar {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

}