.cart-wrapper {
  width: 100%;
  max-height: 64rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-table-header {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.01rem solid rgb(204, 204, 204);
}

.product {
  width: 75%;
}

.price {
  width: 25%;
}

.cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1.6rem;
  margin-left: 1rem;
  border-bottom: 0.01rem solid rgb(204, 204, 204);
}

.cart-item .cart-img {
  width: 85%;
} 

.cart-item .cart-img img {
  width: 9.5rem;
  height: 11rem;
  display: block;
  outline: none;
}

.cart-item .cart-img h4 {
  position: relative;
  bottom: 10rem;
  left: 11rem;
  color: rgb(149, 143, 134);
}

.cart-item span {
  width: 15%;
  position: relative;
  top: 1rem;
}

.cart-item .cart-item-remove {
  position: relative;
  width: 10%;
  display: block;
  cursor: pointer;
}

/*Media query*/
@media only screen and (max-width:378px) { 
   
  .cart-item {
    flex-direction: column;
  }

  .cart-item span {
    position: relative;
    left: 11rem;
    top: -9rem;
  }

  .cart-item .cart-item-remove {
    position: relative;
    top: -1.5rem;
    left: 4rem;

  }
}
