/*Import the fonts used*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*Global font-size*/
html {
  font-size: 10px;
}

/*Basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F5;
  font-size: 1.6rem;
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none
}