.ReactModal__Content_Login {
  position: absolute;
  width: 100%;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay_Login {
  z-index: 150000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}