.login-welcome {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Poppins-Bold;
  font-size: 3.1rem;
  margin-top: 1.5rem;
  color: #333333;
}

.title {
  margin: 0px 15px;
  font-family: Poppins-Bold;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.form-login {
  max-width: 50rem;
  width: 100%;
  height: 100%;
  padding-bottom: 6.5rem;
  border-radius: 2%;
  background: linear-gradient(-135deg, #f5ca0d, #fcfcf1);
  box-shadow: 0 1px 10px 0 rgba(5, 5, 5, .13);
}
.card-hover,
.card-hover:hover {
  transition: all .3s
}

.card-hover:hover {
  box-shadow: 0 11px 16px 0 rgba(5, 5, 5, .23)
}
.division {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 2rem 0;
  text-align: center;
  color: #66615b;

  display: flex;
  flex-direction: row;
}

.line{
  position: relative;
  width: 100%;
  top:18px;
  border-top: 1px solid rgba(0,0,0,.2);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-input {
  width: 80%;
}

.input-field {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 2;
  border: 1px solid #cdd4da;
  border-radius: 4px;
  border-width: 1px;
  color: #495057;
  transition: all .2s ease;
  background-color: #e9ecef;
}

.wrapper-input span:before {
  cursor: pointer;
  position: relative;
  font-family: "Font Awesome 5 Free";
  top: 2.6rem;
  left: .6rem;
  color: #212121;
}

.wrapper-input input[placeholder] {
  padding-left: 35px;
}

.email-icon:before  {
  content: '\f0e0';
  font-weight: 900;
}

.password-icon:before  {
  content: '\f023';
  font-weight: 900;
}

.user-signup-icon:before  {
  content: '\f406';
  font-weight: 900;
}

.document-icon:before  {
  content: '\f2bb';
  font-weight: 900;
}

.phone-user-icon:before  {
  content: '\f3cd';
  font-weight: 900;
}

.mb-16 {
  margin-bottom: 2rem;
}

.wrapper-input input[type=email]:focus,
.wrapper-input input[type=password]:focus {
  border-color: #212121;
  transition: all .2s ease
}

.input-container .btn {
  width: 40%;
  margin-top: 4rem;
}

.error-login {
  position: relative;
  top: 1rem;
}

.link-register {
  position: absolute;
  bottom: 1.2rem;
  margin-left: 4rem;
  cursor: pointer;
  transition: all .5s;

  display: flex;
  flex-direction: row;
}

.link-register span {
  position: relative;
  bottom: 0.7rem;
  left: 0.5rem;
  font-size: 2.5rem;
}

.link-register:hover {
  transition: all .5s;
  color: #f5ca0d;
}

/*Media query*/
@media only screen and (max-width:536px) { 
   
  .form-login {
    width: 90%;
  }

}